{% extends "main/base.html" %}

{% block title %}Login{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
<link rel="stylesheet" href="../static/styles/login.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-<HASH>" crossorigin="anonymous" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card" id="card">
                <div class="card-header">Log In</div>

                <div class="card-body" id="card-body">
                    <form id="loginForm" method="post">
                        {% csrf_token %}
                        {% if form.non_field_errors %}
                            <div class="form-errors">
                                {% for error in form.non_field_errors %}
                                    <p>{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                        {{ form.username|as_crispy_field}}
                        <div id="id_password">Password*<br></div>
                        <div class="input-group" id="inputs">
                            <input type="password" name="password" class="form-control" id="password">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary toggle-password" type="button" id="showpass">
                                    <i class="fas fa-eye"></i>
                                </button>
                            </div>
                        </div>
                        {% comment %} <p><a href="{% url 'password_reset' %}" id="link_forgotpass">Forgot password?</a></p> {% endcomment %}
                        <button type="submit" class="btn btn-primary" id="submit_btn">Login</button>
                    </form>
                </div>

                <div id="links">
                    <p>New to FaceCheck? <a href="{% url 'sign_up' %}" id="link_signup">Sign up now</a></p>
                    <p>Return <a href="{% url 'home' %}" id="link_home">Home</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    const passwordField = document.querySelector('input[name="password"]');
    const togglePasswordButton = document.querySelector('.toggle-password i');

    // Toggle password visibility when the eye icon button is clicked
    togglePasswordButton.addEventListener('click', function() {
        const isVisible = passwordField.type === 'text';
        passwordField.type = isVisible ? 'password' : 'text';
        this.className = isVisible ? 'fas fa-eye' : 'fas fa-eye-slash';
    });
});
</script>
{% endblock %}