{% extends "main/base.html" %}

{% block title %}Login{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-<HASH>" crossorigin="anonymous" />

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">Login</div>

                <div class="card-body">
                    <form id="loginForm" method="post">
                        {% csrf_token %}
                        {{ form.username|as_crispy_field }}
                        <div class="input-group">
                            <input type="password" name="password" class="form-control" id="id_password">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary toggle-password" type="button">
                                    <i class="fas fa-eye"></i>
                                </button>
                            </div>
                        </div>
                        <p>Don't have an account? Create one <a href="{% url 'sign_up' %}">Here</a></p>
                        <p>Forgot your password? Reset it <a href="{% url 'password_reset' %}">Here</a></p>
                        <button type="submit" class="btn btn-primary">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    const passwordField = document.querySelector('input[name="password"]');
    const togglePasswordButton = document.querySelector('.toggle-password i');

    // Toggle password visibility when the eye icon button is clicked
    togglePasswordButton.addEventListener('click', function() {
        const isVisible = passwordField.type === 'text';
        passwordField.type = isVisible ? 'password' : 'text';
        this.className = isVisible ? 'fas fa-eye' : 'fas fa-eye-slash';
    });
});
</script>
{% endblock %}
