{% extends "main/base.html" %}  <!-- Extending base template -->

{% block title %}OTP Verification{% endblock %}  <!-- Setting the title for this page -->

{% load crispy_forms_tags %}  <!-- Loading crispy forms tags -->

{% block content %}  <!-- Beginning of content block -->

<meta charset="UTF-8">  <!-- Meta tag for character encoding -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">  <!-- Meta tag for viewport settings -->
<link rel="preconnect" href="https://fonts.googleapis.com">  <!-- Preconnecting to Google Fonts -->
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>  <!-- Preconnecting to Google Fonts -->
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">  <!-- Importing Oswald font -->
<link rel="stylesheet" href="../static/styles/otp.css">  <!-- Linking to custom OTP CSS -->

<body>  <!-- Body of the HTML page -->
    <div class="main_body">  <!-- Main body container -->
        <div class="otp_form">  <!-- OTP form container -->
            <form method="POST" class="otp_post" id="otpForm"> <!-- OTP form with ID -->
                <h1>Password Verification</h1>  <!-- Heading for OTP verification -->
                {% csrf_token %}  <!-- CSRF token -->
                <label for="otp" class="otp_title">Please enter your code:</label>  <!-- Label for OTP input -->
                <input type="text" id="otp" class="otp_number" name="otp" required>  <!-- OTP input field -->
                <div class="otp_submit_wrapper">  <!-- OTP submit wrapper -->
                    <input type="submit" class="otp_submit" value="Verify">  <!-- Verify button -->
                    <p id="timer">02:00</p>  <!-- Timer display -->
                </div>
                {% if messages %}  <!-- Displaying messages -->
                    <div class="messages">  <!-- Messages container -->
                        {% for message in messages %}  <!-- Looping through messages -->
                            <div class="{{ message.tags }}">{{ message }}</div>  <!-- Displaying message -->
                        {% endfor %}
                    </div>
                {% endif %}
            </form>
            <div id="links">  <!-- Links section -->
                <p>Return to <a href="{% url 'sign_up' %}" id="link_signup">Sign up now</a></p>  <!-- Link to sign up page -->
                <p>Return <a href="{% url 'home' %}" id="link_home">Home</a></p>  <!-- Link to home page -->
            </div>
            <img></img>  <!-- Placeholder for image -->
        </div>
    </div>
</body>

<script>  <!-- JavaScript for OTP timer and form handling -->
    var timeLeft = localStorage.getItem('otpTimer') || 120; // Retrieve timeLeft from local storage or set default to 120 seconds
    var timerElement = document.getElementById('timer');
    var otpForm = document.getElementById('otpForm'); // Get the form element

    var timerInterval = setInterval(function() {  <!-- Timer interval -->
        timeLeft--;
        localStorage.setItem('otpTimer', timeLeft); // Update timeLeft in local storage
        var minutes = Math.floor(timeLeft / 60);
        var seconds = timeLeft % 60;
        timerElement.textContent = (minutes < 10 ? '0' : '') + minutes + ':' + (seconds < 10 ? '0' : '') + seconds;

        if (timeLeft <= 0) {  <!-- Handling expiration of OTP -->
            clearInterval(timerInterval);
            timerElement.textContent = '00:00';
            displayErrorMessage("OTP has expired.");
        }
    }, 1000);

    otpForm.addEventListener('submit', function() {  <!-- Event listener for form submission -->
        // Clear the timer from local storage when the form is submitted
        localStorage.removeItem('otpTimer');
    });

    // Clear the timer from local storage when the user navigates away from the page
    window.addEventListener('beforeunload', function() {  <!-- Event listener for page unload -->
        localStorage.removeItem('otpTimer');
    });

    function displayErrorMessage(message) {  <!-- Function to display error message -->
        var messagesDiv = document.querySelector('.messages');  <!-- Selecting messages container -->
        if (!messagesDiv) {  <!-- Creating messages container if not exist -->
            messagesDiv = document.createElement('div');
            messagesDiv.className = 'messages';
            document.body.insertBefore(messagesDiv, document.body.firstChild);
        }
        var errorMessage = document.createElement('div');  <!-- Creating error message element -->
        errorMessage.className = 'error_otp'; // Use the same class as your Django error messages
        errorMessage.textContent = message;
        messagesDiv.appendChild(errorMessage);  <!-- Appending error message to messages container -->
    }
</script>

{% endblock %}  <!-- End of content block -->
