{% extends "main/base.html" %}

{% block title %}Reset Password{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'styles/reset.css' %}"> <!-- Ensure correct path to your stylesheet -->

<div class="main_body">
  <div class="otp_form">
      <div class="row justify-content-center">
          <div class="col-lg-5">
                    <h3>Forgot Password?</h3>
                  {% if form.errors %}
                      <div class="alert alert-danger alert-dismissible" role="alert">
                          <div id="form_errors">
                              {% for key, value in form.errors.items %}
                                  <strong>{{ value }}</strong>
                              {% endfor %}
                          </div>
                          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                          </button>
                      </div>
                  {% endif %}
                      <form method="POST">
                          {% csrf_token %}
                          <div class="form-row">
                              <div class="col-md-10 offset-md-1">
                              <div class="form-group">
                                <label class="small mb-1" for="id_email" style= "margin-right: 10px;">Email: </label>
                                  <input type="email" name="email"  class="form-control"
                                         autocomplete="email" maxlength="30" required id="id_email"
                                         placeholder="Enter email" style="width: 100%" >
                          </div>
                      </div>
                        
                            <div class="col-md-10 offset-md-1">
                                <div class="otp_submit_wrapper">
                                    <input type="submit" class="otp_submit" value="Verify">
                              </div>
                           </div>
                      </form>
                  </div>
                  <div class="card-footer text-center">
                      <div class="small">
                          <a href="{% url 'login' %}">Back To Login</a><br>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

</div>
{% endblock %}
