{% extends "main/base.html" %}  <!-- Extending base template -->

{% block content %}  <!-- Beginning of content block -->

{% load static %}  <!-- Loading static files -->
<meta charset="UTF-8">  <!-- Meta tag for character encoding -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">  <!-- Meta tag for viewport settings -->
<link rel="preconnect" href="https://fonts.googleapis.com">  <!-- Preconnecting to Google Fonts -->
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>  <!-- Preconnecting to Google Fonts -->
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">  <!-- Importing Oswald font -->
<link rel="stylesheet" href="{% static 'styles/reset.css' %}"> <!-- Importing/resetting CSS -->

<body>  <!-- Body of the HTML page -->
    <div class="container my-3 p-3">  <!-- Container for content -->
        <div class="row justify-content-center">  <!-- Row for centering content -->
            <div class="col-lg-5">  <!-- Column for content -->
                <div class="card shadow-lg border-0 rounded-lg mt-0 mb-3">  <!-- Card for message -->
                    <div class="alert alert-info">  <!-- Info alert for password reset confirmation -->
                        Your password has been reset. You may go ahead and <a href="{% url 'login' %}">Login Here</a>.
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

{% endblock content %}  <!-- End of content block -->
