{% extends 'main/base.html' %}

{% block content %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="../static/styles/enroll.css">


<div class="centered-container">
    <div class="main_body">
        <div class="enroll_msg">
            <label>Enroll yourself in FaceCheck</label>
            <p>Students are invited to upload their photos to enroll in the system. Please ensure that the photo is a clear image of yourself, as this data will be used for classroom identification purposes only.</p>
            <p>Requirements for photo upload:</p>
            <ul class="requirements">
                <li>The picture must be of the student enrolling.</li>
                <li>Acceptable image formats: JPG, PNG, JPEG.</li>
                <li>The picture should be clear and in focus.</li>
                <li>The picture should include only one face or person.</li>
            </ul>

        </div>
        <div class="enroll_form">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label for="file-upload" class="upload-label">
                        <img src="../static/images/face-scanner.png" alt="Icon for file upload" class="upload-icon">
                        Upload your photo
                    </label>
                </div>
                <div class="file-input-container">
                    <!-- File input field -->
                    {{ form.image }}
                </div>
                <button type="submit" class="submit-button">Upload</button>
            </form>
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}


