{% extends 'main/base.html'%}
{% block title %}Home Page{% endblock %}

{% block content %}
    <h1>Home Page</h1>
    <br>
    <h2>What is FaceCheck?</h2>
    <p>
        Taking attendance is typically inconvenient, time-consuming, and repetitive. <br><br>
        FaceCheck evolves the current process by allowing professors to take attendance much faster and
        with far less human involvement. FaceCheck uses a live video feed to track which students are
        currently present, on top of detecting when students leave and re-enter class. <br><br>
        This website also offers various helpful statistics for professors, such as how many students exit
        class at a given time and attendance reports for each student. 
    </p>
{% endblock %}