{% extends 'main/base.html'%}
{% block title %}Statistics Page{% endblock %}

{% block content %}
    <!-- TEMPORARY STYLE SHEET, DELETE LATER -->
    <style>
        h1 {
            margin-bottom: 1rem;
        }
        body {
            color: white;
            background-image: none;
            background-color: #131313;
        }
        .headcol {
            position: absolute;
            width: 5.5em;
            background-color: #131313;
        }
        .col {
            white-space: nowrap;
        }
        .firstcol {
            white-space: nowrap;
            margin-left: 10em;
        }
        .firstcol:before {
            content: '...';
        }
        th, tr {
            padding-right: 1rem;
        }
    </style>

    <!-- STATISTICS PAGE CODE -->
    <h1>Statistics</h1>

    <label for="class_id_select">Class ID:</label>
    <select name="class_id_select" id="class_id_select">
        <option value="javascript">------------</option>
        <option value="javascript">CSC 4996 001</option>
        <option value="javascript">CSC 4996 004</option>
    </select>

    <label for="semester_select">Semester:</label>
    <select name="semester_select" id="semester_select">
        <option value="javascript">------------</option>
        <option value="javascript">Spring/Summer 2023</option>
        <option value="javascript">Fall 2023</option>
        <option value="javascript">Winter 2024</option>
    </select>

    <label for="date_select">Date:</label>
    <select name="date_select" id="date_select" onchange = "change_date()">
        <option value="default">-- Click to select date --</option>
    </select>

    <!-- SEARCH BAR -->
    <br><br><a>Search for a student: </a>
    <input id = "searchbar"
        onkeyup = "search_student()"
        type = "text" name = "search"
        placeholder = "Ex: hc9082">

    <label for="filter_select">Search by:</label>
    <select name="filter_select" id="filter_select" onchange = "change_filter()">
        <option value="accessid">Access ID</option>
        <option value="fname">First name</option>
        <option value="lname">Last name</option>
    </select>
    <hr>
    <a id = "errors"></a>

    <!-- STATS TABLE BASE -->
    <div style="overflow-x:auto;">
        <table id = "stats">
            <thead id="thead"></thead>
            <tbody id="tbody"></tbody>
        </table>
    </div>
    
    <script type="module">
        import { initializeApp, } from "https://www.gstatic.com/firebasejs/10.8.1/firebase-app.js";
        import { getFirestore, doc, collection, query, where, getDocs, getDoc } from "https://www.gstatic.com/firebasejs/10.8.1/firebase-firestore.js";
        import { getAnalytics } from "https://www.gstatic.com/firebasejs/10.8.1/firebase-analytics.js";

        function removeOptions(selectElement) {
            var i, len = selectElement.options.length - 1;
            for(i = len; i >= 0; i--) {
               selectElement.remove(i);
            }
         }

        const firebaseConfig = {
          apiKey: "AIzaSyAthInO0LFnRTXY9L2b7XUsLWO_UBXWg0c",
          authDomain: "facecheck-93450.firebaseapp.com",
          projectId: "facecheck-93450",
          storageBucket: "facecheck-93450.appspot.com",
          messagingSenderId: "691465641368",
          appId: "1:691465641368:web:31f2d89844617d5a0b5fed",
          measurementId: "G-FH3W7GY9NH"
        };
      
        // Initialize Firebase
        const app = initializeApp(firebaseConfig);
        const analytics = getAnalytics(app);
        const db = getFirestore(app);
        const colRef = collection(db, "infoCollection")

        const studentSnapshot = await getDoc(doc(db, "infoCollection", "student_doc"));
        if (studentSnapshot.exists()){
            let data = studentSnapshot.data();
            let date_select = document.getElementById("date_select")
            let table = document.getElementById('stats');
            let filter = document.getElementById('filter_select').value;
            let error_msg = document.getElementById('errors');

            //  Save identifier keys and write initial table based on inputs
            let date = 'None';
            let class_id = 'CSC_4996_001';
            let students = Object.keys(data.students[class_id]);
            if (students.length > 0) {
                let date_list = Object.keys(data.students[class_id][students[0]]['attendance']);
                date_list.sort();
                write_date_menu(date_list);
            }
            //write_table(students);

            //  Handle date menu
            function write_date_menu(date_list) {
                removeOptions(document.getElementById('date_select'));
                var default_option = document.createElement('option');
                default_option.value = 0;
                default_option.innerHTML = "-- Click to select date --"
                default_option.disabled = true;
                default_option.selected = true;
                default_option.style.display = 'none';
                date_select.appendChild(default_option);

                for (var i = 0; i < date_list.length; i++) {
                    var option = document.createElement('option');
                    option.value = date_list[i];
                    let dateArr = date_list[i].split("_");
                    option.innerHTML = dateArr[0] + "/" + dateArr[1] + "/" + dateArr[2];
                    date_select.appendChild(option);
                }
            }

            function change_date() {
                let input = document.getElementById('date_select').value;
                date = input;
                search_student();
            }
            window.change_date = change_date;

            //  Handle search filter menu
            function change_filter() {
                filter = document.getElementById('filter_select').value;
                search_student();
            }

            //  Handle search bar
            function search_student() {
                let input = document.getElementById('searchbar').value;
                students = Object.keys(data.students[class_id]);

                if (input === "") {
                    write_table(students);
                }
                else {
                    input = input.toLowerCase();
                    let found_students = [];
                
                    for (let i = 0; i < students.length; i++) {
                        if (students[i].toLowerCase().includes(input)) {
                            found_students.push(students[i]);
                        }
                    }
                    if (found_students.length > 0) {
                        write_table(found_students);
                    }
                    else {
                        empty_table();
                        error_msg.innerHTML = "No users found.";
                    }
                }
            }
            window.search_student = search_student;

            //  Empty stats table
            function empty_table() {
                while (table.firstChild)
                    table.removeChild(table.firstChild);
            }

            //  Create table
            function write_table(students) {
                error_msg.innerHTML = "";
                empty_table();
                students.sort();
                let first_col = true;

                //  ----- Table header -----
                let header  =  `<tr>
                    <th class = "headcol">Access ID</th>`;

                let timestamps = Object.keys(data.students[class_id][students[0]]['attendance'][date]); 
                timestamps.sort();
                for (let key of timestamps) {
                    let timeArr = key.split("_");
                    if (parseInt(timeArr[0]) > 12) {
                        timeArr[0] = (parseInt(timeArr[0]) - 12) + "";
                        timeArr[2] = "PM"
                    }
                    else if (parseInt(timeArr[0]) === 12) {
                        timeArr[0] = parseInt(timeArr[0]) + "";
                        timeArr[2] = "PM"
                    }
                    else {
                        timeArr[2] = "AM"
                    }
                    let time = timeArr[0] + ":" + timeArr[1] + " " + timeArr[2];
                    
                    //  Add margin if first entry, otherwise use normal margins
                    if (first_col) {
                        header += '<th class = "firstcol">' + time + '</th>';
                        first_col = false;
                    }
                    else
                        header += '<th class = "col">' + time + '</th>';
                }
                table.innerHTML += header

                //  ----- Table contents -----
                let row = ""
                first_col = true;

                //  Loop through students
                for (let student in students) {
                    let currentStudent = students[student]

                    if (data.students.CSC_4996_001[currentStudent]['attendance'] !== undefined) {
                        //console.log("Checking: " + currentStudent)

                        row  = `<tr>
                                    <td class = "headcol">${currentStudent}</td>`;

                        let attendance = data.students.CSC_4996_001[currentStudent]['attendance'][date];

                        let timestamps = Object.keys(attendance);
                        for (let key of timestamps) {
                            let value = ""
                            if (attendance[key] === true)
                                value = "\u2714";
                            else
                                value = "\u274C";
                            
                            //  Add margin if first entry, otherwise use normal margins
                            if (first_col) {
                                row += '<td class = "firstcol">' + value + '</td>';
                                first_col = false;
                            }
                            else
                                row += '<td class = "col">' + value + '</td>';
                        }
                        row += '</tr>'
                        table.innerHTML += row

                    } else {
                        console.log("No records for " + currentStudent);
                    }
                }
            }

        }
    </script>
{% endblock %}