body {
    margin: 0;
    padding: 0;
    height: 100vh; 
    background-image: none;

    background-color: grey; /* Light gray background */
    overflow: hidden; 

}
body::before {
    content: '';
    position: absolute;
    top: 0;
    right:30%;
    bottom: 0%; /* This will cover the top half of the screen */
    left: 0%;
    background-image: url('../images/robot1.png');
    background-repeat: no-repeat;
    background-size: 90%;
    background-color: #1d1c1c; /* This is the red color for the top half */
    border-radius: 0% 10% 70% 0%; /* This creates the curve on the bottom right */
    z-index: -1; /* Ensure this is behind the content but above the body background */
}


.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px);
    margin: 0;
    padding: 0;
}


.main_body {
    background: linear-gradient(to right, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.5)); 
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    flex-direction: row; 
    flex: 0 1 90%; 
    
    padding: 20px;
    border-radius: 10px;

    margin: 0;
    box-sizing: border-box;
    
}

.main_body > div {
    flex: 1; 
    padding: 20px;
    box-sizing: border-box;
    
}

/* Style the form and button for a cleaner look */
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main_body button {
    background-color: #4CAF50; /* Green for submit button */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: fit-content;
    ;
}

.main_body button:hover {
    background-color: #3e8e41; /* Darker green on hover */
}

/* Style messages if present */
.messages {
    list-style: none;
    padding: 0;
    margin: 0;
}

.messages li {
    margin-bottom: 5px;
}

.success {
    color: green;
}

.error {
    color: red;
}
.enroll_msg {

    color: black;
    padding: 20px;
    border-radius: 10px;
}
.enroll_msg Label {
    font-family: "Oswald", sans-serif;
    color: black;
    margin-bottom: 2.5rem;
    font-size: 2em;
    font-weight: bold;


}
input[type="file"] {
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

.enroll_form Label {
    font-size: 2em;
    font-family: "Oswald", sans-serif;
    color: black;
    font-weight: bold;

}





@media (min-width: 780px) {
    .main_body {
        flex-direction: row;
        max-width: 900px;
        min-height: 500px; 
        height: auto;  
    }
    
}
@media screen and (max-width: 780px) {
    .main_body {
        flex-direction: column;
        max-width: 500px;
        min-height: 500px; 
        height: auto;  
    }
    body::before {
        background-image: none;
    }
    
}


.form-container {
    display: flex;
    flex-direction: column;
}

.form-group {
    display: flex;
    align-items: center; 
}

.form-label {
    margin-right: 20px; 
}

.form-image {
    width: 50px; 
    height: auto; 
}
.upload-container {
    display: flex;
    align-items: center; /* Align items vertically in the center */
    justify-content: flex-start; /* Align items to the start of the container */
}

.upload-label {
    cursor: pointer;
    display: flex;
    align-items: center; /* Ensures the text and icon are aligned properly */
}

.upload-icon {
    margin-right: 10px; /* Adjust space between icon and text */
    width: 30px; /* Adjust as needed */
    height: auto; /* To maintain aspect ratio */
}

#file-upload {
    display: none; /* Hide the actual file input */
}
.form-group {
    display: flex;
    align-items: center; /* Align items vertically in the center */
    justify-content: flex-start; /* Align items to the start of the container */
}

.form-group label {
    display: flex;
    align-items: center;
}

.form-group .upload-icon {
    margin-right: 10px; /* Adjust space between icon and text */
}

.form-image {
    width: 50px; /* Adjust as needed */
    height: auto; /* To maintain aspect ratio */
}

.file-input-container {
    display: flex;
    align-items: center; /* File input on a new line */
}

.file-input-container input[type="file"] {
    cursor: pointer;
    width: auto;
    margin-left: 2px;
    color: black;
}
form{
    display: flex;
    
    justify-content: center;
    align-items: center;
}
.enroll_msg p{
    font-family: "Oswald", sans-serif;
    color: black;
    text-align: left;
    font-size: 18px;
}
.requirements{
    font-family: "Oswald", sans-serif;
    color: black;
    text-align: left;
    font-size: 18px;
}

